html, body{ 
    overflow-x: hidden; max-width: 100%
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.bg-custom {
    background-color: #333396;
    color: #fbfbfb;
}

.bg-orange {
    background-color: #EE4D2D !important;
}

.bg-green {
    background-color: #36a53d !important;
}

.bg-light-blue {
    background-color: #0072a7 !important;
}

.bg-dark-blue {
    background-color: #0f136d !important;
}

.bg-red {
    background-color: #e31e52 !important;
}

.button-custom {
    background-color: #f93154;
    color: #fbfbfb;
}

.ms-custom {
    margin-left: -10px;
}

.text-title {
    color: #333396;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
} 

.text-title > span {
    color: #f93154;
} 

.container-xxl {
    width: 100%;
    margin: 0;
    padding: 0;
}

.bx {
    transform: translateY(1px);
}

.preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    transition: opacity 1s;
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #333396;
    border-bottom: 3px solid #f93154;
    width: 69px;
    height: 69px;
    animation: spin 1s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.preloader > h3 {
    margin-top: 33px;
    color: #333396;
    font-weight: 600;
    animation: color-change1 5s linear infinite;
}

@keyframes color-change1 {
    0% { color:#333396; }
    20% { color: #333396; }
    40% { color: #f93154; } 
    60% { color: #f93154;}
    80% { color: #333396; }
    100% { color: #333396; }
}

.preloader > h3 > span {
    color: #f93154;
    animation: color-change2 5s linear infinite;
}

@keyframes color-change2 {
    0% { color:#f93154; }
    20% { color: #f93154; }
    40% { color: #333396; } 
    60% { color: #333396;}
    80% { color: #f93154; }
    100% { color: #f93154; }
}

.sticky {
    position: fixed;
    top: -100px;
    transform: translateY(100px);
    width: 100vw;
    z-index: 2;
    transition: 1s;
}

.sticky + .header {
    padding-top: 60px;
}

.navbar {
    z-index: 3;
}

.navbar-header > .container {
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social > * {
    color: #fbfbfb;
    font-size: 15px;
    margin: 0 3px;
    padding: 3px 9px;
    border-radius: 15%;
    transition: 0.6s;
}

.social > *:hover {
    background-color: #ffffff;
    color: #f93154;
    border-radius: 30%;
    transition: 0.3s;
}

.navbar {
    padding: 3vh 0;
}

.navbar-brand {
    color: #333396;
    font-weight: 700;
    transition: 0.5s;
}

.navbar-brand > span {
    color: #f93154;
    transition: 0.5s;
}

.navbar-brand:hover {
    color: #f93154;
    transition: 0.5s;
}

.navbar-brand:hover > span {
    color: #333396;
    transition: 0.5s;
}

.carousel-item > img {
    width: 100%;
    height: 90vh;
    opacity: 0.4;
}

.carousel-caption {
    top: 30%;
    color: #333396;
    text-align: center;
    font-weight: 700;
    background-position: 100px;
}

.carousel-caption > h2 {
    position: relative;
    font-size: 69px;
    font-weight: 700;
}

.carousel-caption > h2 > i {
    background-color: #f93154;
    color: #fbfbfb;
    border-radius: 50%;
    padding: 10px;
    text-shadow: none;
    transform: translateY(6px);
}

.carousel-control-prev {
    justify-content: start;
    padding: 30px;
}

.carousel-control-next {
    justify-content: end;
    padding: 30px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 25px;
    height: 25px;
}

section {
    margin-top: 69px;
    margin-bottom: 165px;
} 

section h2 {
    color: #333396;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

section h2 > span {
    color: #f93154;
}

.service .card {
    transition: 0.5s;
    border-radius: 33px;
}

.service .card:hover {
    border: 1px solid #333396;
    transform: scale(1.05);
    transition: 0.5s;
    z-index: 1;
}

.service .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service .card-body > i {
    color: #333396;
    font-size: 69px;
    margin: 13px;
}

.service .card-body > h3 {
    color: #f93154;
    font-weight: 600;
}

.about {
    background: linear-gradient(70deg, #333396  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #f93154 60%, #333396 60%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.about > div {
    color: #fbfbfb;
    font-weight: 600;
}

.about > div > div > img {
    width: 100%;
    border-radius: 30px;
}

.about > div > div > div > h2 {
    color: #fbfbfb;
    font-weight: 700;
    text-align: start;
}

.about > div > div > div > div > p:first-child{
    color: #fbfbfb;
    font-size: 23px;
}

.about > div > div > div > div > p:nth-child(2){
    text-align: justify;
}

.about > div > div > div > div > a > button{
    background-color: #333396;
    color: #fbfbfb;
    border: 1px solid #f93154;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 15px;
    padding: 10px 23px;
    transition: 0.5s;
}

.about > div > div > div > div > a > button:hover{
    background-color: #f93154;
    border: 1px solid #333396;
    border-radius: 20px;
    transition: background-color 0.5s,border-radius 0.5s;
}

.service-detail > * {
    margin: 50px 10px;
    padding: 100px 50px;
    border-radius: 50px;
    font-weight: 600;
    position: relative;
}

.service-detail > div:first-of-type {
    background: #333396;
    color: #fbfbfb;
}

.service-detail > div:nth-of-type(2) {
    background-color: #f93154;
    color: #fbfbfb;
}

.service-detail > div:last-of-type {
    background-color: #333396;
    color: #fbfbfb;
}

.service-detail > div:first-of-type > i, .service-detail > div:last-of-type > i {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 69px;
    padding: 15px;
    border-radius: 50%;
    background-color: #f93154;
    z-index: 1;
}

.service-detail > div:nth-child(2) > i {
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 69px;
    padding: 15px;
    border-radius: 50%;
    background-color: #333396;
    z-index: 1;
}

.service-detail > div > div > h2 {
    color: #fbfbfb;
    text-align: start;
}

.service-detail > div > div > p {
    text-align: justify;
}

.service-detail > div:first-child > div > button,
.service-detail > div:last-child > div > button {
    font-weight: 600;
}

.service-detail > div:nth-child(2) > div button {
    background-color: #333396;
    color: #fbfbfb;
    font-weight: 600;
    padding: 6px 10px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
}

.visionmission > div > h2:nth-of-type(2) {
    color: #f93154;
}

.visionmission > ol {
    list-style: none;
    counter-reset: line;
}

.visionmission > ol > li {
    position: relative;
    background-color: #333396;
    color: #fbfbfb;
    padding: 30px;
    margin: 50px 0;
    margin-right: 25px;
    border-radius: 20px;
    width: auto;
} 

.visionmission > ol > li:before {
	position: absolute;
    top: -19px;
	left: -20px;
	display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
	height: 50px;
    background-color: #f93154;
	border-radius: 50%;
	color: #fbfbfb;
	text-align:center;
    font-size: 25px;
    font-weight: 700;
	counter-increment: line;
	content: counter(line);
    z-index: 2;
}

.visionmission > ol > li > h5 {
    font-weight: 700;
    background-color: #f93154;
    position: absolute;
    top: -9px;
    left: -10px;
    padding: 5px 45px;;
    border-radius: 0 30px 30px 0;
    z-index: 1;
}

.visionmission > ol > li > p {
    font-size: 18px;
    margin: 20px 0;
}  

.product > h3 {
    color: #333396;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.product > h3 > span {
    color: #f93154;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.product > div:first-of-type {
    margin-top: 50px;
    margin-bottom: 300px;
    padding: 15px 0;
    padding-bottom: 100px;
    position: relative;
    background-color: #333396;
    color: #fbfbfb;
    border-radius: 0 20px 20px 20px;
}

.product > div:first-of-type > div:first-of-type {
    position: absolute;
    top: -43px;
    padding: 5px 10px;
    padding-left: 25px;
    background-color: #f93154;
    border-radius: 0 30px 0 0;
    color: #fbfbfb;
}

.product > div:first-of-type > div:first-of-type > h3 {
    position: relative;
    padding: 0 10px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 700;
}

.product > div:first-of-type > div:first-of-type > h3 > i {
    position: absolute;
    top: -19px;
    left: -60px;
    background-color: #f93154;
    border-radius: 10px;
    padding: 5px;
    font-size: 60px;
}

.product > div:first-of-type > div:last-of-type > div > h3 {
    font-weight: 700;
}

.product > div:first-of-type > div:last-of-type > div:last-of-type > div:first-of-type {
    margin-top: 20px;
    margin-left: 20px;
    width: 96%;
} 

.product > div:first-of-type > div:last-of-type .slick-slide {
    border-radius: 30px;
    overflow: hidden;
} 

.product > div:first-of-type > div:last-of-type .slick-slide div.card-body .card-title {
    font-weight: 700;
} 

.product > div:first-of-type > div:last-of-type .slick-slide div.card-body .card-text {
    font-weight: 700;
    background-color: #f93154;
    color: #fbfbfb;
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.3s;
} 

.product > div:first-of-type > div:last-of-type .slick-slide div.card-body .card-text:hover {
    background-color: #fbfbfb;
    color: #f93154;
    transition: 0.3s;
}

.product .card-body > div:first-of-type > button {
    font-weight: 600;
} 

.product > h3:first-of-type {
    margin-top: 50px;
}

.product > h3:last-of-type {
    margin-top: 50px;
}

.product .product-brand .slick-slide > img {
    width: 250px;
    height: 150px;
    margin: auto;
}

.product > div:last-of-type > a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: 0.3s;
    text-decoration: none;
}

.product > div:last-of-type > a:hover {
    background-color: #ebebeb;
    transform: scale(1.03);
    transition: 0.3s;
}

.product > div:last-of-type > a > *{
    max-width: 100%;
    max-height: 100%;
}

.contact-us {
    background-color: #ebebeb;
    padding: 50px;
    margin-bottom: 0;
}

.contact-us > div > h2 {
    margin-bottom: 50px;
}

.contact-us .card {
    border-radius: 30px;
}

.contact-us > div > div:first-of-type {
    background-color: #333396;
    color: #fbfbfb;
}

.contact-us > div > div:first-of-type img {
    transform: rotate(20deg);
}

.contact-us > div > div:first-of-type .card-body > div > div i {
    font-size: 50px;
    background-color: #f93154;
    padding: 10px;
    border-radius: 50%;
    height: auto;
}

.contact-us > div > div:first-of-type .card-body > div > div p {
    margin: 0;
    font-weight: 600;
}

.contact-us > div > div:first-of-type .card-body > div > div p > a {
    text-decoration: none;
    color: #fbfbfb;
    transition: 0.3s;
}

.contact-us > div > div:first-of-type .card-body > div > div p > a:hover {
    color: #b9b9b9;
    transition: 0.3s;
}

.contact-us > div > div:last-of-type .card {
    background-color: #333396;
    color: #fbfbfb;
}

.contact-us > div > div:last-of-type form {
    padding: 20px;
}

.contact-us > div > div:last-of-type form label {
    font-weight: 600;
}

.contact-us > div > div:last-of-type form .form-control {
    border: 3px solid #f93154;
    border-radius: 3px 15px 3px  15px;
    outline: none;
}

.contact-us > div > div:last-of-type form .form-control:focus {
    outline: 3px solid rgba(249, 49, 82, 0.5);
}

.contact-us > div > div:last-of-type form button {
    background-color: #f93154;
    color: #fbfbfb;
    border: none;
    border-radius: 15px;
    outline: none;
    margin: 15px auto;
    margin-bottom: 5px;
    font-weight: 600;
    width: 100%;
    transition: 0.3s;
}

.contact-us > div > div:last-of-type form button:hover {
    background-color: #fbfbfb;
    color: #f93154;
    transition: 0.3s;
}

.contact-us > div > div:last-of-type > div:last-of-type iframe {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    margin: auto;
}

footer {
    background-color: #333396;
    color: #fbfbfb;
    margin: 0;
    overflow: hidden;
}

footer > div > div:first-of-type {
    background-color: #f93154;
}

footer > div > div:last-of-type {
    margin: 30px;
}

footer > div > div:last-of-type > div:first-of-type  p { 
    margin-bottom: 0;
}

footer h2, footer h5 {
    display: inline-block;
    background-color: #f93154;
    margin-left: -10px;
    padding: 3px 10px;
    font-weight: 600;
    border-radius: 20px;
}

footer a {
    color: #fbfbfb;
    text-decoration: none;
    transition: 0.3s;
}

footer a:hover {
    color: #b9b9b9;
    transition: 0.3s;
}

footer p { 
    margin-bottom: 0;
}

footer ul {
    transform: translateX(-6px);
}

footer ul > li {
    list-style: none;
    margin-left: -31px;
    margin-bottom: 15px;
    font-size: 15px;
}

footer ul > li a > img {
    transition: 0.3s;
    border-radius: 10px;
    padding: 3px;
    transform: scale(1.1);
}

footer ul > li a:hover > img {
    background-color: #fbfbfb;
    border-radius: 10px;
    transition: 0.3s;
}

footer ul > li i {
    font-size: 30px;
}   

/* About Us */
.about-us-header {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),url(https://images.unsplash.com/photo-1497366811353-6870744d04b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-header h2 {
    font-size: 100px;
    font-weight: 700;
    color: #333396;
}

.about-us-header h2 > span {
    color: #f93154;
}

.about-us-desc p {
    text-align: justify;
    font-weight: 600;
}

/* Service */
.service-header {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),url('/asset/image/services.png');
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-header h2 {
    font-size: 100px;
    font-weight: 700;
    color: #333396;
}

.service-header h2 > span {
    color: #f93154;
}

.service-desc.desc1 {
    margin-bottom: 0;
}

.service-desc.desc1 h2{
    margin-bottom: 70px;
}

.service-desc.desc1 .carousel {
    background: linear-gradient(90deg, #333396, #f93154);
    padding: 100px 30px;
    width: 100%;
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.3);
}

.service-desc.desc1 .carousel .carousel-inner {
    padding: 30px;
}

.service-desc.desc1 .carousel .carousel-item {
    padding: 0 50px;
}

.service-desc.desc1 .carousel .carousel-item .row > .col {
    margin: 0 auto;;
}

.service-desc.desc1 .carousel .carousel-item h3 {
    background-color: #333396;
    color: #fbfbfb;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    padding-left: 70px;
    margin-bottom: 30px;
    border-radius: 10px;
    font-weight: 700;
}

.service-desc.desc1 .carousel .carousel-item h3 > i {
    position: absolute;
    top: -13px;
    left: -5px;
    background-color: #f93154;
    padding: 5px;
    border: 3px solid #333396;
    border-radius: 50%;
    font-size: 50px;
}

.service-desc.desc1 .carousel .carousel-item p {
    color: #fbfbfb;
    font-weight: 600;
}

.service-desc.desc2 {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #333396;
}

.service-desc.desc2 h2 {
    color: #fbfbfb;
    font-weight: 700;
}

.service-desc.desc2 p {
    color: #fbfbfb;
    font-weight: 600;
}

.service-desc.desc2 > div > div:nth-of-type(2) {
    background-color: #f93154;
}

.service-desc.desc2 > div > div:first-of-type > div > div > h2 {
    position: relative;
    padding-left: 75px;
    padding-bottom: 20px;
    margin-left: 10px;
}

.service-desc.desc2 > div > div:first-of-type > div > div > h2 > i {
    position: absolute;
    top: -3px;
    left: -10px;
    background-color: #f93154;
    border-radius: 50%;
    padding: 10px;
}

.service-desc.desc2 > div:first-of-type .product-brand img {
    width: 250px;
    height: 150px;
    margin: auto;
}

.service-desc.desc2 > div > div:nth-of-type(2) > div > h2 {
    background-color: #f93154;
    color: #fbfbfb;
    display: inline-block;
    position: absolute;
    top: -35px;
    padding: 5px 15px;
    border-radius: 30px;
    font-weight: 700;
}

.service-desc.desc2 > div > div:nth-of-type(2) > div > p {
    padding-top: 50px;
}

.service-desc.desc2 > div > div:nth-of-type(2) > div {
    margin-bottom: 100px;
    padding-bottom: 200px;
}

.service-desc.desc2 > div > div:nth-of-type(2) > div > div {
    width: 83%;
}

.service-desc.desc2 > div > div:nth-of-type(2) > div > div .slick-list{
    padding-bottom: 30px;
}

.service-desc.desc2 > div > div:nth-of-type(2) > div > div .slick-slide{
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.3);
}

.service-desc.desc2 > div > div:nth-of-type(2) > div > div .slick-slide .card-title{
    font-weight: 700;
}

.service-desc.desc2 > div > div:nth-of-type(2) > div > div .slick-slide button{
    background-color: #f93154;
    color: #fbfbfb;
    border: none;
    border-radius: 30px;
    width: 100%;
    padding: 5px;
    font-weight: 600;
    transition: 0.3s;
}

.service-desc.desc2 > div > div:nth-of-type(2) > div > div .slick-slide button:hover{
    background-color: #fbfbfb;
    color: #f93154;
    transition: 0.3s;
}

.service-desc.desc2 > div > div:nth-of-type(3) {
    background-color: #fbfbfb;
}

.service-desc.desc2 > div > div:nth-of-type(3) > div > h2 {
    color: #333396;
    padding-top: 160px;
    margin-bottom: 50px;
}

.service-desc.desc2 > div > div:last-of-type {
    background-color: #fbfbfb;
    padding-bottom: 130px;
}

.service-desc.desc2 > div:first-of-type > div:last-of-type > div > h2 {
    color: #333396;
    margin-bottom: 10px;
    padding-top: 90px;
}

.service-desc.desc2 > div > div:last-of-type > div > div > a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: 0.3s;
    text-decoration: none;
}

.service-desc.desc2 > div > div:last-of-type > div > div > a:hover {
    background-color: #ebebeb;
    transform: scale(1.03);
    transition: 0.3s;
}

.service-desc.desc2 > div > div:last-of-type > div > div > a > *{
    max-width: 100%;
    max-height: 100%;
}

.service-desc.desc2 > div > div:last-of-type > div > div > a i {
    font-size: 60px;
    text-decoration: none;
    color: #fbfbfb;
    background-color: #333396;
    padding: 10px;
    border-radius: 30px;
}

.service-desc.desc2 > div:last-of-type > div:last-of-type {
    padding-bottom: 100px;
}

/* Shop */

.shop-header {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),url(https://images.unsplash.com/photo-1501523460185-2aa5d2a0f981?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=931&q=80);
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.shop-header h2 {
    font-size: 100px;
    font-weight: 700;
    color: #333396;
}

.shop-header h2 > span {
    color: #f93154;
}

.shop-desc.desc1 .card {
    background-color: #333396;
    color: #fbfbfb;
    border-radius: 30px;
    overflow: hidden;
}

.shop-desc.desc1 .card {
    background-color: #333396;
    color: #fbfbfb;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 1px 3px 1px rgba(0,0,0,0.3);
}

.shop-desc.desc1 .card .card-body {
    padding: 30px;
}

.shop-desc.desc1 .card h3.card-title {
    font-weight: 700;
}

.shop-desc.desc1 .card h3.card-title > img {
    background-color: #fbfbfb;
    padding: 5px;
    border-radius: 10px;
}

.shop-desc.desc1 .card .card-body a {
    background-color: rgba(59, 59, 59, 0);
    color: #fbfbfb;
    border: 2px solid #fbfbfb;
    border-radius: 20px;
    font-weight: 600;
    transition: 0.3s;
}

.shop-desc.desc1 .card .card-body a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.3s;
}

/* Contact */
.contact-header {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),url(https://images.unsplash.com/photo-1534536281715-e28d76689b4d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-header h2 {
    font-size: 100px;
    font-weight: 700;
    color: #333396;
}

.contact-header h2 > span {
    color: #f93154;
}

@media screen and (min-width:1400px){
    .container-xxl {
        margin: auto;
        padding: auto;
    }

    .carousel-item > img {
        height: 50vh;
    }

    .about {
        min-height: 0;
    }

    .about-us-header {
        height: auto;
    }

    .service-header {
        height: auto;
    }

    .shop-header {
        height: auto;
    }

    .contact-header {
        height: auto;
    }
}

/* M */
@media screen and (max-width:992px) {
    .carousel-item > img {
        height: auto;
    }

    .about {
        min-height: 0;
    }

    .about > div > div > img {
        transform: scaleY(0.9);
    }

    .service-detail > div > img {
        width: 50% !important;
    }
    
    .product > div:first-of-type > div:first-of-type {
        top: -35px;
    }
    
    .product > div:first-of-type > div:first-of-type > h3 > i {
        top: -9px;
        left: -50px;
        font-size: 40px;
    }

    .product > div:first-of-type > div:last-of-type > div {
        transform: translateX(-6px)
    } 

    footer > div:last-of-type > div:last-of-type > div:first-of-type  p { 
        margin-bottom: 50px;
    }

    .about-us-header {
        height: 30vh;
    }

    .service-header {
        height: 30vh;
    }

    .service-desc.desc2 > div > div:last-of-type > div > div > a {
        width: 160px;
        height: 160px;
    }

    .shop-header {
        height: 30vh;
    }

    .contact-header {
        height: 30vh;
    }
}

/* S */
@media screen and (max-width:768px) {
    .about > div > div > img {
        transform: scaleY(1);
        margin-bottom: 30px;
    }

    .service-detail > div > img {
        width: 100% !important;
    }

    .visionmission > ol > li > h5 {    
        font-size: 15px;
    }
    
    .product > div:first-of-type > div:first-of-type {
        top: -30px;
    }
    
    .product > div:first-of-type > div:first-of-type > h3 {
        font-size: 18px;
    }

    .product > div:first-of-type > div:first-of-type > h3 > i {
        top: -15px;
        left: -30px;
        font-size: 40px;
    }

    .product > div:first-of-type > div:last-of-type > div {
        transform: translateX(-11px)
    } 

    .product > h3:first-of-type {
        margin-top: 390px;
    }

    .product > div:last-of-type > a {
        width: 100px;
        height: 100px;
    }

    .contact-us {
        background-color: #ebebeb;
        padding: 50px 10px;
        margin-bottom: 0;
    }

    .contact-us > div > div:first-of-type {
        padding: 15px 0 !important;
    }

    .contact-us > div > div:first-of-type .card-body > div > div i {
        margin-left: 5px;
    }

    .contact-us > div > div:last-of-type form {
        padding: 0;
    }

    .about-us-header {
        height: auto;
    }

    .about-us-header h2 {
        font-size: 50px;
        margin: 100px 0;
    }

    .service-header {
        height: auto;
    }

    .service-header h2 {
        font-size: 50px;
        margin: 100px 0;
    }

    .service-desc.desc1 .carousel .carousel-item {
        padding: 0 10px;
    }

    .service-desc.desc1 .carousel .carousel-item h3 {
        font-size: 18px;
    }

    .service-desc.desc1 .carousel .carousel-item h3 > i {
        top: -19px;
    }

    .service-desc.desc1 .carousel .carousel-item p {
        font-size: 15px;
    }
    
    .service-desc.desc2 > div > div:nth-of-type(2) > div > h2 {
        background-color: #f93154;
        color: #fbfbfb;
        display: inline-block;
        position: absolute;
        top: -15px;
        left: 0;
        right: 0;
        margin: 0 15px;
        padding: 5px 15px;
        border-radius: 30px;
        font-size: 25px;
        font-weight: 700;
    }

    .service-desc.desc2 > div > div:nth-of-type(2) > div > p {
        padding-top: 40px;
    }

    .service-desc.desc2 > div > div:nth-of-type(2) > div > div{
        margin-left: 20px;
    }

    .service-desc.desc2 > div > div:nth-of-type(3) > div > h2 { 
        padding-top: 250px;
    }

    .service-desc.desc2 > div > div:last-of-type > div > div > a {
        width: 100px;
        height: 100px;
    }

    .shop-header {
        height: auto;
    }

    .shop-header h2 {
        font-size: 50px;
        margin: 100px 0;
    }

    .contact-header {
        height: auto;
    }

    .contact-header h2 {
        font-size: 50px;
        margin: 100px 0;
    }
}

/* XS */
@media screen and (max-width:576px) {
    .carousel-control-prev {
        padding: 0;
    }
    
    .carousel-control-next {
        padding: 0;
    }    

    .about {
        min-height: 0;
    }

    .about > div > div > div > div > button {
        width: 100%;
    }

    .service-detail > div > i {
        transform: scale(0.9);
    }

    .product > h3:first-of-type {
        margin-top: 440px;
    }
}