/* Sweep to Right Type 1 */
.hvr-sweep-to-right-type1 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    color: #fbfbfb;
    padding: 6px 10px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-right-type1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f93154;
    border: 2px solid #333396;
    border-radius: 6px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right-type1:hover, .hvr-sweep-to-right-type1:focus, .hvr-sweep-to-right-type1:active {
    color: #fbfbfb;
}
.hvr-sweep-to-right-type1:hover:before, .hvr-sweep-to-right-type1:focus:before, .hvr-sweep-to-right-type1:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Shutter Out Type 2 */
.hvr-sweep-to-right-type2 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    background: #f93154;
    color: #fbfbfb;
    padding: 6px 10px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-sweep-to-right-type2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333396;
    border: 2px solid #f93154;
    border-radius: 6px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-sweep-to-right-type2:hover, .hvr-sweep-to-right-type2:focus, .hvr-sweep-to-right-type2:active {
    color: #fbfbfb;
}
.hvr-sweep-to-right-type2:hover:before, .hvr-sweep-to-right-type2:focus:before, .hvr-sweep-to-right-type2:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}